:root {
  --clr-black: black;
  --clr-white: white;
  --clr-gold: #cead66;

  --ff: "Bodoni Moda", serif;
  --fw-light: 200;
  --fw-normal: 400;
  --fw-bold: 600;

  --fs-400: 0.9275rem;
  --fs-500: 1.25rem;
  --fs-600: 1.625rem;
  --fs-700: 1.875rem;
  --fs-900: 2.5rem;
}

h1,
h2,
h3 {
  font-family: var(--ff);
  font-weight: var(--fw-normal);
  line-height: 1.7;
  color: var(--clr-white);
}

*,
*::before,
**::after {
  box-sizing: border-box;
}

body {
  background: var(--clr-black);
  font-family: var(--ff);
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  font-optical-sizing: auto; /* Enables optical sizing */
  line-height: 1.6;
  color: var(--clr-white);
  margin: 0;
  padding: 0;
}

.section {
  margin-bottom: 40px;
}
