---

---

<header>
  <nav>
    <ul class="nav__list">
      <li class="nav__list-item">
        <a href="/" class="nav__link">Home</a>
      </li>
      <li class="nav__list-item">
        <a href="/roster" class="nav__link">Roster</a>
      </li>
      <li class="nav__list-item">
        <a href="/schedule" class="nav__link">Schedule</a>
      </li>
      <li class="nav__list-item nav__item-instagram">
        <a
          class="nav__link nav__link-instagram"
          href="https://www.instagram.com/vandyrugby/"
          target="_blank"
        >
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    background-color: var(--clr-black);
    padding: 1em;
    text-align: center;
  }
  .nav__logo-link {
    display: block;
    margin: 0 auto;
    width: 85px;
    height: 85px;
  }

  .nav__list {
    display: flex;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0.5em 0;
    text-transform: uppercase;
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
  }

  .nav__list li {
    margin-inline: auto;
  }

  .nav__link {
    text-decoration: none;
    color: inherit;
  }

  .nav__link-instagram {
    margin: 0;
  }

  .nav__item-instagram {
    height: 23.75px;
  }

  .fab {
    font-size: var(--fs-600);
    color: var(--clr-gold);
  }
</style>
