<div id="hero-container">
  <img id="hero-logo" src="/images/vurfc-logo.png" alt="Hero logo" />
  <div id="hero-content">
    <h1>2024 FALL 15'S RUGBY SEASON</h1>
    <button>REGISTER NOW</button>
  </div>
</div>
<style>
  #hero-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding-block: 200px;
  }

  #hero-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/hero-image.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(2px); /* Apply blur effect */
    z-index: 1;
  }

  #hero-logo,
  #hero-content {
    position: relative;
    z-index: 2;
  }
  #hero-logo {
    width: 100px;
  }
  #hero-content {
  }
  #hero-content h1 {
    color: white;
    font-size: 2.5rem;
    margin: 0;
    text-transform: uppercase;
  }
</style>
