<div class="news__wrapper">
  <div class="news__grid">
    <div class="news__card"></div>
    <div class="news__card"></div>
    <div class="news__card"></div>
    <div class="news__card"></div>
  </div>
</div>
