---

---

<nav>
  <img id="logo" src="/images/vurfc-logo.png" alt="Logo" />
  <div id="links">
    <a href="/">Home</a>
    <a href="/roster">Roster</a>
    <a href="/schedule">Schedule</a>
    <a href="/news">News</a>
  </div>
  <a href="https://www.instagram.com/vandyrugby/" target="_blank">
    <i class="fab fa-instagram"></i>
  </a>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background);
    border: 1px solid #ffffff;
  }

  #logo {
    width: 85px;
    height: 85px;
    margin-left: 80px;
  }

  i {
    font-size: 35px;
    margin-right: 80px;
  }

  #links {
    margin-inline: auto;
  }
</style>
